{% extends "layout/appLayout.html" %}
{% block title %}Dashboard | Manage{% endblock %}
{% block content %}
{% include 'layout/sidenav.html' %}
<div class="content-wrapper">
    <div class="container-fluid">

        <div class="row">
            <div class="col-md-12">

                <h2 class="page-title">Dashboard</h2>
                
                <div class="row">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-3">
                                <div class="panel panel-default">
                                    <div class="panel-body bk-primary text-light">
                                        <div class="stat-panel text-center">
                                            <div class="stat-panel-number h1">{{userCount}}</div>
                                            <div class="stat-panel-title text-uppercase">Perdoruesit</div>
                                        </div>
                                    </div>
                                    <a href="/users" class="block-anchor panel-footer text-center">Shiko Perdoruesit &nbsp;<i class="fa fa-arrow-right"></i></a>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="panel panel-default">
                                    <div class="panel-body bk-warning text-light">
                                        <div class="stat-panel text-center">
                                           
                                            <div class="stat-panel-number h1">{{ brandCount }}</div>
                                           
                                            <div class="stat-panel-title text-uppercase">Markat</div>
                                            
                                        </div>
                                    </div>
                                    <a href="/brands" class="block-anchor panel-footer text-center">Full Detail &nbsp; <i class="fa fa-arrow-right"></i></a>
                                </div>
                            </div>
                        
                            <div class="col-md-3">
                                <div class="panel panel-default">
                                    <div class="panel-body bk-success text-light">
                                        <div class="stat-panel text-center">

                                            <div class="stat-panel-number h1 ">{{ vehicleCount }}</div>
                                            <div class="stat-panel-title text-uppercase">Veturat</div>
                                        </div>
                                    </div>
                                    <a href="/vehicles" class="block-anchor panel-footer text-center">Full Detail &nbsp; <i class="fa fa-arrow-right"></i></a>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="panel panel-default">
                                    <div class="panel-body bk-info text-light">
                                        <div class="stat-panel text-center">


                                            <div class="stat-panel-number h1">{{contactCount}}</div>
                                            <div class="stat-panel-title text-uppercase">Kontakti</div>
                                        </div>
                                    </div>
                                    <a href="/contacts" class="block-anchor panel-footer text-center">Full Detail &nbsp; <i class="fa fa-arrow-right"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>




    </div>
</div>
</div>
    
{% endblock %}
