{% block content %}
<div class="modal fade" id="loginform">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h3 class="modal-title text-left">Login</h3>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="login_wrap">
                        <div class="col-md-12 col-sm-6">
                            <form method="post" id="login-form">
                                <div class="form-group">
                                    <input type="email" class="form-control" name="email" placeholder="Email address*" required>
                                </div>
                                <div class="form-group">
                                    <input type="password" class="form-control" name="password" placeholder="Password*" required>
                                </div>
                                <div class="form-group checkbox">
                                    <input type="checkbox" id="remember">
                                </div>
                                <div class="form-group">
                                    <input type="submit" name="login" value="Login" class="btn btn-danger btn-block">
                                </div>
                                <div id="modal-errors"></div>
                            </form>
                        </div>

                    </div>
                </div>
            </div>
            <div class="modal-footer text-center">
                <p>Don't have an account? <a href="#signupform" data-toggle="modal" data-dismiss="modal">Signup Here</a></p>
                <p><a href="#forgotpassword" data-toggle="modal" data-dismiss="modal">Forgot Password ?</a></p>
            </div>
        </div>
    </div>
</div>
<script src="assets/js/jquery.min.js"></script>
<script src="assets/js/bootstrap.min.js"></script>
<script src="assets/js/interface.js"></script>
<!--Switcher-->
<script src="assets/switcher/js/switcher.js"></script>
<!--bootstrap-slider-JS-->
<script src="assets/js/bootstrap-slider.min.js"></script>
<!--Slider-JS-->
<script src="assets/js/slick.min.js"></script>
<script src="assets/js/owl.carousel.min.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

{% include 'Auth/signupform.html' %}

<script>
    $(document).ready(function() {
        // Listen for the form submission event
        $('#login-form').submit(function(event) {
            event.preventDefault(); // Prevent the default form submission

            // Get the form data
            var formData = $(this).serialize();

            // Send an AJAX request to the server to handle the form submission
            $.ajax({
                type: 'POST',
                url: '/login-user',
                data: formData,
                success: function(response) {
                    if (response.success) {
                        // Handle successful login
                        window.location.href = '/profileclient';
                    } else {
                        // Display validation errors within the modal
                        var errorsHtml = '<div class="alert alert-danger padding-top-4"><ul>';
                        for (var i = 0; i < response.errors.length; i++) {
                            errorsHtml += '<li>' + response.errors[i] + '</li>';
                        }
                        errorsHtml += '</ul></div>';
                        $('#modal-errors').html(errorsHtml);
                    }
                }
            });
        });
    });
</script>



</body>

</html>
{% endblock %}