{% extends "layout/headeradmin.html" %}

{% block title %}Change | Password{% endblock %}

{% block content %}
{% include 'layout/sidenav.html' %}


<div class="content-wrapper">
    <div class="container-fluid">

        <div class="row">
            <div class="col-md-12">
                <h2 class="page-title">Change Password</h2>
                <div class="row">
                    <div class="col-md-10">
                        <div class="panel panel-default">
                            <div class="panel-heading">Form fields</div>
                            <div class="panel-body">
                                <form method="post" action="/password-update" class="form-horizontal">
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label" for="password">Current Password</label>
                                        <div class="col-sm-6">
                                            <input type="password" class="form-control" name="password" value="{{user.password}}" id="password" required>
                                        </div>
                                    </div>
                                    <div class="hr-dashed"></div>
                                    
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label" for="newpassword">New Password</label>
                                        <div class="col-sm-6">
                                            <input type="password" class="form-control" name="newpassword" id="newpassword" required>
                                        </div>
                                    </div>
                                    <div class="hr-dashed"></div>

                                    <div class="form-group">
                                        <label class="col-sm-3 control-label" for="confirmpassword">Confirm Password</label>
                                        <div class="col-sm-6">
                                            <input type="password" class="form-control" name="confirmpassword" id="confirmpassword" required>
                                        </div>
                                    </div>
                                    <div class="hr-dashed"></div>
                                    <div class="form-group">
                                        <div class="col-sm-8 col-sm-offset-5">
                                            <button class="btn btn-primary" name="submit" type="submit">Save changes</button>
                                        </div>
                                    </div>

                                </form>

                            </div>
                        </div>
                    </div>
                    
                </div>
                
            

            </div>
        </div>
        
    
    </div>
</div>











{% include 'layout/footeradmin.html' %}
{% endblock %}