{% extends "layout/headeradmin.html" %}

{% block title %}Admin | View{% endblock %}

{% block content %}
{% include 'layout/sidenav.html' %}
<div class="content-wrapper">
    <div class="container-fluid">

        <div class="row">
            <div class="col-md-12">

                <h2 class="page-title">Menagjo Perdoruesit</h2>

                <!-- Zero Configuration Table -->
                <div class="panel panel-default">
                    <div class="panel-heading">Perdoruesit e Regjistruar</div>
                    <div class="panel-body">
                
                        <table id="zctb" class="display table table-striped table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th>Emri</th>
                                    <th>Mbiemri</th>
                                    <th>Email</th>
                                    <th>Passwordi</th>
                                    <th>Vepro</th>
                                </tr>
                            </thead>
                            
                            <tbody>
                                {% for user in users %}
                                <tr>
                                    <td>{{ user.name }}</td>
                                    <td>{{ user.surname }}</td>
                                    <td>{{ user.email }}</td>
                                    <td>{{ user.password }}</td>
                                    <td><a href="/admins-edit?id={{ user.id }}"><i class="fa fa-edit"></i></a>&nbsp;&nbsp;
                                        <a href="/admins-delete?id={{ user.id }}" onclick="return confirm('Do you want to delete');"><i class="fa fa-close"></i></a></td>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>

                

                    </div>
                </div>

            
            

            </div>
        </div>

    </div>
</div>
{% include 'layout/footeradmin.html' %}
{% endblock %}
