{% extends "layout/headeradmin.html" %}

{% block title %}Client  |  View{% endblock %}

{% block content %}
{% include 'layout/sidenav.html' %}
<div class="content-wrapper">
    <div class="container-fluid">

        <div class="row">
            <div class="col-md-12">

                <h2 class="page-title">Menagjo Klientet</h2>
                <div class="add-product">
                    <a href="/clients-create">Shto Klient</a>
                </div>
                <!-- Zero Configuration Table -->
                <div class="panel panel-default">
                    <div class="panel-heading">Perdoruesit e Regjistruar</div>
                    <div class="panel-body">
                        {% if message is not empty %}
                        <div class="alert alert-success padding-top-4" role="alert">
                            {{ message }}
                        </div>
                        {% endif %}
                        <table id="zctb" class="display table table-striped table-bordered table-hover">
                            <thead>
                            <tr>
                                <th>#</th>
                                <th>Emri</th>
                                <th>Email</th>
                                <th>Telefoni</th>
                                <th>Action</th>
                            </tr>
                            </thead>

                            <tbody>
                            {% for client in clients %}
                            <tr>
                                <td>{{ client.id }}</td>
                                <td>{{ client.name }}</td>
                                <td>{{ client.email }}</td>
                                <td>{{ client.phone }}</td>
                                <td><a href="/clients-edit?id={{ client.id }}"><i class="fa fa-edit"></i></a>&nbsp;&nbsp;
                                <a href="/clients-delete?id={{ client.id }}" onclick="return confirm('Do you want to delete');"><i class="fa fa-close"></i></a></td>
                                </td>
                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>



                    </div>
                </div>




            </div>
        </div>

    </div>
</div>
{% include 'layout/footeradmin.html' %}
{% endblock %}
