{% extends "layout/header.html" %}
{% block title %}Library | Dashboard{% endblock %}
{% block content %}


<section class="page-header profile_page">
    <div class="container">
        <div class="page-header_wrap">
            <div class="page-heading">
                <h1>Update Password</h1>
            </div>
            <ul class="coustom-breadcrumb">
                <li><a href="#">Home</a></li>
                <li>Update Password</li>
            </ul>
        </div>
    </div>
    <!-- Dark Overlay-->
    <div class="dark-overlay"></div>
</section>
<!-- /Page Header-->


<section class="user_profile inner_pages">
    <div class="container">
        <div class="user_profile_info gray-bg padding_4x4_40">
            <div class="upload_user_logo"> <img src="assets/images/dealer-logo.jpg" alt="image">
            </div>

            <div class="dealer_info">
                <h5></h5>
                <p><br></p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 col-sm-3">
                {% include 'layout/sidenavclient.html' %}
                <div class="col-md-6 col-sm-8">
                    <div class="profile_wrap">
                        <form method="post" action="/update-password">
                            <div class="gray-bg field-title">
                                <h6>Update password</h6>
                            </div>

                            <div class="form-group">
                                <label class="control-label" for="password">Current Password</label>
                                <input class="form-control white_bg" id="password" name="password" type="password" value="{{client.password}}" required>

                            </div>

                            <div class="form-group">
                                <label class="control-label" for="newpassword">New Password</label>
                                <input class="form-control white_bg" id="newpassword" type="password" name="newpassword" required>
                            </div>

                            <div class="form-group">
                                <label class="control-label" for="confirmpassword">Confirm Password</label>
                                <input class="form-control white_bg" id="confirmpassword" type="password" name="confirmpassword" required>
                            </div>

                            <div class="form-group">
                                <input type="submit" value="Update" name="update" id="submit" class="btn btn-danger btn-block">
                            </div>
                        </form>

                        {% if errors is defined and errors %}
                        <div class="alert alert-danger">
                            <ul>
                                {% for error in errors %}
                                <li>{{ error }}</li>
                                {% endfor %}
                            </ul>
                        </div>
                        {% endif %}
                        {% if messages is defined and messages %}
                        <div class="alert alert-success">
                            <ul>
                                {% for message in messages %}
                                <li>{{ message }}</li>
                                {% endfor %}
                            </ul>
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<!--Back to top-->
<div id="back-top" class="back-top"> <a href="#top"><i class="fa fa-angle-up" aria-hidden="true"></i> </a> </div>
<!--/Back to top-->

<!-- Scripts -->
<script src="assets/js/jquery.min.js"></script>
<script src="assets/js/bootstrap.min.js"></script>
<script src="assets/js/interface.js"></script>
<!--Switcher-->
<script src="assets/switcher/js/switcher.js"></script>
<!--bootstrap-slider-JS-->
<script src="assets/js/bootstrap-slider.min.js"></script>
<!--Slider-JS-->
<script src="assets/js/slick.min.js"></script>
<script src="assets/js/owl.carousel.min.js"></script>

</body>
</html>



{% endblock %}