<div class="ts-main-content">
	<nav class="ts-sidebar">
        <ul class="ts-sidebar-menu">
        
            <li class="ts-label">Main</li>
            <li><a href="/dashboard"><i class="fa fa-dashboard"></i> Dashboard</a></li>

<li><a href="#"><i class="fa fa-files-o"></i>Perdoruesit</a>
<ul>
<li><a href="/users-create">Regjistro Perdorues</a></li>
<li><a href="/users">Menagjo Perodruesit</a></li>
</ul>
</li>           
<li><a href="#"><i class="fa fa-files-o"></i>Markat</a>
<ul>
<li><a href="/brands-create">Regjistro Marken</a></li>
<li><a href="/brands">Menagjo Marken</a></li>
</ul>
</li>

<li><a href="#"><i class="fa fa-sitemap"></i> Veturat</a>
                <ul>
                    <li><a href="/vehicles-create">Shto Vetura</a></li>
                    <li><a href="/vehicles">Menagjo Vetura</a></li>
                </ul>
            </li>
            <li><a href="/bookings"><i class="fa fa-users"></i>Rezervimet</a></li>
            <li><a href="#"><i class="fa fa-sitemap"></i>Slider</a>
                <ul>
                    <li><a href="/sliders-create">Shto Slider</a></li>
                    <li><a href="/sliders">Menagjo Slider</a></li>
                </ul>
            </li>
            <li><a href="/contacts"><i class="fa fa-users"></i>Kontakti</a></li>
            
       
        

      

        </ul>
    </nav>
