{% extends "layout/headeradmin.html" %}

{% block title %}Contact  |  View{% endblock %}

{% block content %}
{% include 'layout/sidenav.html' %}
<div class="content-wrapper">
    <div class="container-fluid">

        <div class="row">
            <div class="col-md-12">

                <h2 class="page-title">Menagjo Kontakt Formen</h2>

                <!-- Zero Configuration Table -->
                <div class="panel panel-default">
                    <div class="panel-heading">Kontakt Forma</div>
                    <div class="panel-body">
                
                        <table id="zctb" class="display table table-striped table-bordered table-hover" cellspacing="0" width="100%">
                            <thead>
                                <tr>
                                
                                    
                                
                                    <th>Emri</th>
                                    <th>Email</th>
                                    <th>Telefoni</th>
                                    <th>Mesazhi</th>
                                    <th>Vepro</th>
                                </tr>
                            </thead>
                            
                            <tbody>
                                {% for contact in contacts %}
                                <tr>
                                    <td>{{ contact.name }}</td>
                                    <td>{{ contact.email }}</td>
                                    <td>{{ contact.phone }}</td>
                                    <td>{{ contact.message }}</td>
                                    <td><a href="/contacts-edit?id={{ contact.id }}"><i class="fa fa-edit"></i></a>&nbsp;&nbsp;
                                        <a href="/contacts-delete?id={{ contact.id }}" onclick="return confirm('Do you want to delete');"><i class="fa fa-close"></i></a></td>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>

                

                    </div>
                </div>

            
            

            </div>
        </div>

    </div>
</div>
</div>
{% include 'layout/footeradmin.html' %}
{% endblock %}
