{% extends "layout/headeradmin.html" %}

{% block title %}Vehicle | View{% endblock %}

{% block content %}
{% include 'layout/sidenav.html' %}
<div class="content-wrapper">
    <div class="container-fluid">

        <div class="row">
            <div class="col-md-12">

                <h2 class="page-title">Manage Vehicles</h2>

                <!-- Zero Configuration Table -->
                <div class="panel panel-default">
                    <div class="panel-heading">Veturat e Regjistruara</div>
                    <div class="panel-body">
                    
                        <table id="zctb" class="display table table-striped table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Emri Vetures</th>
                                    <th>Marka </th>
                                    <th>Qmimi(per 1 dite)</th>
                                    <th>Karburanti</th>
                                    <th>Viti Prodhimit</th>
                                    <th>Vepro</th>
                                </tr>
                            </thead>
                           
                            <tbody>
                                {% for vehicle in vehicles %}

                                <tr>
                                    <td>{{ vehicle.id }}</td>
                                    <td>{{ vehicle.name }}</td>
                                    <td>{{ vehicle.brand.name }}</td>
                                    <td>{{ vehicle.price }}</td>
                                    <td>{{ vehicle.fuel }}</td>
                                    <td>{{ vehicle.year }}</td>
                                    <td><a href="/vehicles-edit?id={{ vehicle.id }}"><i class="fa fa-edit"></i></a>&nbsp;&nbsp;
                                        <a href="/vehicles-delete?id={{ vehicle.id }}" onclick="return confirm('Do you want to delete');"><i class="fa fa-close"></i></a></td>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>

                        

                    </div>
                </div>

            

            </div>
        </div>

    </div>
</div>
{% include 'layout/footeradmin.html' %}
{% endblock %}