{% extends "layout/appLayout.html" %}

{% block title %}Brand  |  View{% endblock %}

{% block content %}
{% include 'layout/sidenav.html' %}
<div class="content-wrapper">
    <div class="container-fluid">

        <div class="row">
            <div class="col-md-12">

                <h2 class="page-title">Menagjo Marken</h2>

                <!-- Zero Configuration Table -->
                <div class="panel panel-default">
                    <div class="panel-heading">Markat e Regjistruara</div>
                    <div class="panel-body">
                
                        <table id="zctb" class="display table table-striped table-bordered table-hover" cellspacing="0" width="100%">
                            <thead>
                                <tr>
                                
                                    
                                
                                    <th>Marka</th>
                                    <th>Perditeso</th>
                                    <th>Fshije</th>
                                </tr>
                            </thead>
                            
                            <tbody>
                                {% for brand in brands %}
                                <tr>
                                    <td>{{ brand.name }}</td>
                                    <td> <form method='post' action='/brands-edit'>
                                        <input type='hidden' name='id' value='{{brand.id}}'>
                                        <input type='submit' value='Perditeso'>
                                    </form></td>
                                    <td>
                                        <form method='post' action='/brands-delete'>
                                        <input type='hidden' name='id' value='{{brand.id}}'>
                                        <input type='submit' value='Fshije'>
                                      </form>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>

                

                    </div>
                </div>

            
            

            </div>
        </div>

    </div>
</div>
</div>
{% endblock %}
