{% extends "layout/headeradmin.html" %}

{% block title %}Brand  |  View{% endblock %}

{% block content %}
{% include 'layout/sidenav.html' %}
<div class="content-wrapper">
    <div class="container-fluid">

        <div class="row">
            <div class="col-md-12">
                <h2 class="page-title">Menagjo Marken</h2>
                <div class="add-product">
                    <a href="/brands-create">Shto Mark</a>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">Markat e Regjistruara</div>
                    <div class="panel-body">
                        {% if message %}
                        <div class="succWrap">{{ message }}</div>
                        {% endif %}
                        <table id="zctb" class="display table table-striped table-bordered table-hover" cellspacing="0" width="100%">
                            <thead>
                                <tr>
                                
                                    
                                
                                    <th>Marka</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            
                            <tbody>
                                {% for brand in brands %}
                                <tr>
                                    <td>{{ brand.name }}</td>
                                    <td><a href="/brands-edit?id={{ brand.id }}"><i class="fa fa-edit"></i></a>&nbsp;&nbsp;
                                        <a href="/brands-delete?id={{ brand.id }}" onclick="return confirm('Do you want to delete');"><i class="fa fa-close"></i></a></td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>

                

                    </div>
                </div>

            
            

            </div>
        </div>

    </div>
</div>
</div>
{% include 'layout/footeradmin.html' %}
{% endblock %}
